<!-- app/views/games/index.html.erb -->
<div class="row">
  <div class="col-12">
    <h1 class="mb-4">Каталог игр</h1>
    <p class="lead">Здесь будет отображаться каталог всех игр на нашем портале.</p>
  </div>
</div>

<!-- Заглушка для будущего каталога -->
<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Название игры 1</h5>
        <p class="card-text">Описание игры будет здесь.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Название игры 2</h5>
        <p class="card-text">Описание игры будет здесь.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Название игры 3</h5>
        <p class="card-text">Описание игры будет здесь.</p>
        <a href="#" class="btn btn-primary">Подробнее</a>
      </div>
    </div>
  </div>
</div>
